
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    transition: 0.3s !important;
    width: 80%;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
  }
.book{
    
    background-color: antiquewhite;
  
    } 		  
    .house{
    
    background-color: khaki;
  
    }
    .character {
        background-color: #E0FFFF;
    }
    .left{
    margin-left: 10%;
        
    }
